body
{

}

#news
{
		margin-left:30%;
		float: left;
		width:40%;
		background-color:#b0e0e6;
		text-align:center;
		color:blue;
}

#news a{
  display: block;

}

#news, .results-window{
	display: inline-block;
}

.results-window{
	width: 300px;
	height: 500px;
	border: 1px solid brown;
}

