body
{

}

#news
{
		margin-left:30%;
		float: left;
		width:700px;
		background-color:#b0e0e6;
		text-align:center;
		color:blue;
}

#news a{
  display: block;

}

#news, .results-window{
	display: inline-block;
}

.results-window{
	width: 500px;
	height: 1000px;
	border: none;
}

